<main>
  <div class="main-container">
    <div class="item">
      <a href="#">Item 1</a>
    </div>
    <div class="item">
      <a href="#"></a>
      Item 2</div>
    <div class="item">Item 3</div>
  </div>

  <div class="left">
    <h3 class="title">人気の案件</h3>
    <ul>
      <li><a href="#">通信インフラ</a></li>
      <li><a href="#">ネットワーク構築</a></li>
      <li><a href="#">物理ハード案件</a></li>
      <li><a href="#">ITコンサル</a></li>
    </ul>
    
    <h3 class="title">最新の登録案件</h3>
    <ul>
      <li><a href="#">大手通信企業Sホールディング</a></li>
      <li><a href="#">株式会社赤丸</a></li>
      <li><a href="#">株式会社VRST</a></li>
    </ul>

    <h3 class="title">最新の人材登録</h3>
    <ul>
      <li><a href="#">小田氏治</a></li>
      <li><a href="#">矢口伊重</a></li>
      <li><a href="#">海老原俊之</a></li>
      <li><a href="#">願証寺証意</a></li>
    </ul>
  </div>

  <div class="right">
    <div class="container">
      <h2 class="right__title">案件内容</h2>
        <div class="bbox">
          <a href="#">
            <div class="sbox">
              <img src="pic2.jpg">
              <p>ITコンサルタント案件</p>
            </div>
          </a>
          <a href="#">
            <div class="sbox">
              <img src="pic3.jpg">
              <p>サーバ案件</p>
            </div> 
          </a>
          <a href="#">
            <div class="sbox">
              <img src="pic4.jpg">
              <p>ITマーケティング案件</p>
            </div>
          </a>
          <a href="#">
            <div class="sbox">
              <img src="pic5.jpg">
              <p>アクティブラーニング</p>
            </div>
          </a>
        </div>
      
      <div class="bbox">
        <a href="#">
          <div class="sbox">
            <img src="pic5.jpg">
            <p>アクティブラーニング</p>
          </div>
        </a>
        <a href="#">
          <div class="sbox">
            <img src="pic6.jpg">
            <p>Webデザイン案件</p>
          </div> 
        </a>
        <a href="#">
          <div class="sbox">
            <img src="pic7.jpg">
            <p>コーディング案件</p>
          </div>
        </a>
        <a href="#">
          <div class="sbox">
            <img src="pic8.jpg">
            <p>HTML5案件</p>
          </div>
        </a>
      </div>
      
      <div class="bbox">
        <a href="#">
          <div class="sbox">
            <img src="pic5.jpg">
            <p>アクティブラーニング</p>
          </div>
        </a>
        <a href="#">
          <div class="sbox">
            <img src="pic6.jpg">
            <p>Webデザイン案件</p>
          </div> 
        </a>
        <a href="#">
          <div class="sbox">
            <img src="pic7.jpg">
            <p>コーディング案件</p>
          </div>
        </a>
        <a href="#">
          <div class="sbox">
            <img src="pic8.jpg">
            <p>HTML5案件</p>
          </div>
        </a>
      </div>
      
      <div class="bbox">
        <a href="#">
          <div class="sbox">
            <img src="pic5.jpg">
            <p>アクティブラーニング</p>
          </div>
        </a>
        <a href="#">
          <div class="sbox">
            <img src="pic6.jpg">
            <p>Webデザイン案件</p>
          </div> 
        </a>
        <a href="#">
          <div class="sbox">
            <img src="pic7.jpg">
            <p>コーディング案件</p>
          </div>
        </a>
        <a href="#">
          <div class="sbox">
            <img src="pic8.jpg">
            <p>HTML5案件</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>