<%# 案件登録 %>
<div class="MyPage">
  <div class="container">
    <div class="regiMatter">
      <h2 class="regiMatter__title">案件登録</h2>
      <%= render "matters/form", matter: @matter %>
    </div>
  </div>
</div>