<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="select.css">
</head>
    
<body>
    
 <div class="main">
   
  <section class="col-1">
    <div class="border col-3">
    <div class="border">
    <h3 class="title"><strong>カテゴリから探す</strong></h3>
  <div id="main">
    <h4><span class="mgr-10">◎絞込検索</span></h4> 
    <form>
      <div class="list-box">
        <ul class="cat-list">
          <li>
            <span class="ttl">一次産業</span>
            <ul class="list-options">
              <li><label><input type="checkbox" name="catItems[]" value="農業">農業</label></li>
              <li><label><input type="checkbox" name="catItems[]" value="林業">林業</label></li>
              <li><label><input type="checkbox" name="catItems[]" value="漁業">漁業</label></li>
            </ul>
          </li>
          <li>
            <span class="ttl">二次産業</span>
            <ul class="list-options">
              <li><label><input type="checkbox" name="catItems[]" value="鉱業">鉱業</label></li>
              <li><label><input type="checkbox" name="catItems[]" value="製造">製造</label></li>
              <li><label><input type="checkbox" name="catItems[]" value="建設">建設</label></li>
            </ul>
          </li>
          <li>
            <span class="ttl">三次産業</span>
            <ul class="list-options">
              <li><label><input type="checkbox" name="catItems[]" value="電気・ガス">電気・ガス</label></li>
              <li><label><input type="checkbox" name="catItems[]" value="情報通信">情報通信</label></li>
              <li><label><input type="checkbox" name="catItems[]" value="運輸">運輸</label></li>
              <li><label><input type="checkbox" name="catItems[]" value="小売">小売</label></li>
              <li><label><input type="checkbox" name="catItems[]" value="金融">金融</label></li>
            </ul>
          </li>
          <li>
            <span class="ttl">職種</span>
            <ul class="list-options">
              <li><label><input type="checkbox" name="catItems[]" value="個人営業">個人営業</label></li>
              <li><label><input type="checkbox" name="catItems[]" value="法人営業">法人営業</label></li>
              <li><label><input type="checkbox" name="catItems[]" value="訪問営業">訪問営業</label></li>
              <li><label><input type="checkbox" name="catItems[]" value="ルート営業">ルート営業</label></li>
              <li><label><input type="checkbox" name="catItems[]" value="新規営業">新規営業</label></li>
            </ul>
          </li>
        </ul>
        
        <ul class="tag-list"></ul>
        
        <ul class="btn-box">
          <li><div class="clear-box"><button id="clear" type="clear" class="Button-style2">解除</button></div></li><br>
          <!--<li><div class="clear-box"><a id="clear" type="clear" class="Button-style2">全てを解除</a></div></li><br>-->
          <li><div class="submit-box"><button id="submit" type="submit" class="Button-style">【 検 索 】</button></div></li>
        </ul>
      </div><!-- list-box -->
    </form>
  </div>
    
        </div>
      </div>
  </section>

 
  <section class="col-2">
     <div class="col-7 border">
       <h3 class="title"><strong>検索結果</strong></h3>
       
<div class="f-container">

 <div class="box">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/85188/iphone1.jpg" alt="">
  <div class="box-text">
    <h2>Lorem ipsum dolor sit amet</h2>
    <p>
      Consectetur adipiscing elit. Sed sed lacus sed elit porta vestibulum. In sem felis, tincidunt et est ac, laoreet tristique lorem. 
    </p>
  </div>
 </div>

 <div class="box">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/85188/iphone1.jpg" alt="">
  <div class="box-text">
    <h2>Lorem ipsum dolor sit amet</h2>
    <p>
      Consectetur adipiscing elit. Sed sed lacus sed elit porta vestibulum. In sem felis, tincidunt et est ac, laoreet tristique lorem. 
    </p>
  </div>
 </div>
  
 <div class="box">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/85188/iphone1.jpg" alt="">
  <div class="box-text">
    <h2>Lorem ipsum dolor sit amet</h2>
    <p>
      Consectetur adipiscing elit. Sed sed lacus sed elit porta vestibulum. In sem felis, tincidunt et est ac, laoreet tristique lorem. 
    </p>
  </div>
 </div>

 <div class="box">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/85188/iphone1.jpg" alt="">
  <div class="box-text">
    <h2>Lorem ipsum dolor sit amet</h2>
    <p>
      Consectetur adipiscing elit. Sed sed lacus sed elit porta vestibulum. In sem felis, tincidunt et est ac, laoreet tristique lorem. 
    </p>
  </div>
 </div>

</div>
      
     </div>
  </section>


  <section class="col-3">
    <div class="index border flex" style="min-height: 100%" "margin:10px;">
    <div class="col-3 border">
      <h3><strong>広告</strong></h3>
      </div>
    </div>
  </section>
  
</div>


<footer class="center-block pt-3 pb-3 border-top">
        <!--<strong>&copy; 2020 SAMPLE Inc.</strong>-->
</footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS, then Font Awesome -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
</body>
</html>