 <div class="main">
   
  <section>
    <div class="col-1">
    <div class="border">
    <h3 class="title"><strong>カテゴリから探す</strong></h3>
  <div id="main">
    <form>

<!--カテゴリー絞り込み-->
  <div class="category">
    <div class="card-header">
      <h3>一次産業</h3>
    </div>
    
    <label for="category-1">農業</label>
    <input type="checkbox" id="category-1" class="switch" />
    <ul>
        <li><a href="">個人営業</a></li>
        <li><a href="">法人営業</a></li>
        <li><a href="">訪問営業</a></li>
        <li><a href="">ルート営業</a></li>
        <li><a href="">新規営業</a></li>
    </ul>
    
    <label for="category-2">林業</label>
    <input type="checkbox" id="category-2" class="switch" />
    <ul>
        <li><a href="">個人営業</a></li>
        <li><a href="">法人営業</a></li>
        <li><a href="">訪問営業</a></li>
        <li><a href="">ルート営業</a></li>
        <li><a href="">新規営業</a></li>
    </ul>
    
    <label for="category-3">漁業</label>
    <input type="checkbox" id="category-3" class="switch" />
    <ul>
        <li><a href="">個人営業</a></li>
        <li><a href="">法人営業</a></li>
        <li><a href="">訪問営業</a></li>
        <li><a href="">ルート営業</a></li>
        <li><a href="">新規営業</a></li>
    </ul>
    
    <h3 class="h3pad">二次産業</h3>  
    <label for="category-4">鉱業</label>
    <input type="checkbox" id="category-4" class="switch" />
    <ul class="ulf">
        <li><a href="">個人営業</a></li>
        <li><a href="">法人営業</a></li>
        <li><a href="">訪問営業</a></li>
        <li><a href="">ルート営業</a></li>
        <li><a href="">新規営業</a></li>
    </ul>
    
    <label for="category-5">製造</label>
    <input type="checkbox" id="category-5" class="switch" />
    <ul>
        <li><a href="">個人営業</a></li>
        <li><a href="">法人営業</a></li>
        <li><a href="">訪問営業</a></li>
        <li><a href="">ルート営業</a></li>
        <li><a href="">新規営業</a></li>
    </ul>
    
    <label for="category-6">建設</label>
    <input type="checkbox" id="category-6" class="switch" />
    <ul>
        <li><a href="">個人営業</a></li>
        <li><a href="">法人営業</a></li>
        <li><a href="">訪問営業</a></li>
        <li><a href="">ルート営業</a></li>
        <li><a href="">新規営業</a></li>
    </ul>
    
    
    <h3 class="h3pad">三次産業</h3>  
    <label for="category-7">電気・ガス</label>
    <input type="checkbox" id="category-7" class="switch" />
    <ul>
        <li><a href="">個人営業</a></li>
        <li><a href="">法人営業</a></li>
        <li><a href="">訪問営業</a></li>
        <li><a href="">ルート営業</a></li>
        <li><a href="">新規営業</a></li>
    </ul>
    
    <label for="category-8">情報通信</label>
    <input type="checkbox" id="category-8" class="switch" />
    <ul>
        <li><a href="">個人営業</a></li>
        <li><a href="">法人営業</a></li>
        <li><a href="">訪問営業</a></li>
        <li><a href="">ルート営業</a></li>
        <li><a href="">新規営業</a></li>
    </ul>
    
    <label for="category-9">運輸</label>
    <input type="checkbox" id="category-9" class="switch" />
    <ul>
        <li><a href="">個人営業</a></li>
        <li><a href="">法人営業</a></li>
        <li><a href="">訪問営業</a></li>
        <li><a href="">ルート営業</a></li>
        <li><a href="">新規営業</a></li>
    </ul>
    
    <label for="category-10">小売</label>
    <input type="checkbox" id="category-10" class="switch" />
    <ul>
        <li><a href="">個人営業</a></li>
        <li><a href="">法人営業</a></li>
        <li><a href="">訪問営業</a></li>
        <li><a href="">ルート営業</a></li>
        <li><a href="">新規営業</a></li>
    </ul>
    
    <label for="category-11">金融</label>
    <input type="checkbox" id="category-11" class="switch" />
    <ul>
        <li><a href="">個人営業</a></li>
        <li><a href="">法人営業</a></li>
        <li><a href="">訪問営業</a></li>
        <li><a href="">ルート営業</a></li>
        <li><a href="">新規営業</a></li>
    </ul>
    
  </div>
<!--カテゴリー絞り込みここまで-->


    </form>
  </div>
    
        </div>
      </div>
  </section>

 
  <section class="col-2">
     <div class="col-7 border">
       <h3 class="title"><class="title"><strong>ユーザー一覧</strong></h3>
       <h3 class="title"><strong>「◯◯◯◯」の検索結果</strong></h3>
       
<div class="f-container">

 <div class="box">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/85188/iphone1.jpg" alt="">
  <div class="box-text">
    <p>ユーザー名ユーザー名ユーザー名</p>
    <p>
      詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト
    </p>
    <p><span class="font-red">500</span>円</p>
  </div>
 </div>

 <div class="box">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/85188/iphone1.jpg" alt="">
  <div class="box-text">
    <p>ユーザー名ユーザー名ユーザー名</p>
    <p>
      詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト
    </p>
    <p><span class="font-red">500</span>円</p>
  </div>
 </div>
  
 <div class="box">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/85188/iphone1.jpg" alt="">
  <div class="box-text">
    <p>ユーザー名ユーザー名ユーザー名</p>
    <p>
      詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト
    </p>
    <p><span class="font-red">500</span>円</p>
  </div>
 </div>

 <div class="box">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/85188/iphone1.jpg" alt="">
  <div class="box-text">
    <p>ユーザー名ユーザー名ユーザー名</p>
    <p>
      詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト
    </p>
    <p><span class="font-red">500</span>円</p>
  </div>
 </div>
 
 <div class="box">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/85188/iphone1.jpg" alt="">
  <div class="box-text">
    <p>ユーザー名ユーザー名ユーザー名</p>
    <p>
      詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト
    </p>
    <p><span class="font-red">500</span>円</p>
  </div>
 </div>

 <div class="box">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/85188/iphone1.jpg" alt="">
  <div class="box-text">
    <p>ユーザー名ユーザー名ユーザー名</p>
    <p>
      詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト
    </p>
    <p><span class="font-red">500</span>円</p>
  </div>
 </div>
  
 <div class="box">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/85188/iphone1.jpg" alt="">
  <div class="box-text">
    <p>ユーザー名ユーザー名ユーザー名</p>
    <p>
      詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト
    </p>
    <p><span class="font-red">500</span>円</p>
  </div>
 </div>

 <div class="box">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/85188/iphone1.jpg" alt="">
  <div class="box-text">
    <p>ユーザー名ユーザー名ユーザー名</p>
    <p>
      詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト詳細テキスト
    </p>
    <p><span class="font-red">500</span>円</p>
  </div>
 </div>

</div>
      
     </div>
     
 <!--ページネーション-->      
  <div class="nav-links">
    <a class="prev page-numbers" href="">«</a><!-- 現在の前のページへのリンク -->
    <a class="page-numbers" href="">1</a>
    <span class="page-numbers current">2</span><!-- 現在閲覧しているページ -->
    <a class="page-numbers" href="">3</a>
    <span class="page-numbers dots">…</span>
    <a class="page-numbers" href="">11</a>
    <a class="next page-numbers" href="">»</a><!-- 現在の次のページへのリンク -->
  </div>
 <!--ページネーションここまで-->	    
	     
  </section>


  <section class="col-3">
    <div class="index border flex" style="min-height: 100%" "margin:10px;">
    <div class="col-3 border">
      <h3><strong>広告</strong></h3>
      </div>
    </div>
  </section>
  
</div>
