<%# 発注者情報 %>
<div class="detail__cliant">
  <h3 class="subtitle">クライアント情報</h3>
  <ul class="cliantName">
    <li class="itemTitle">クライアント名</li>
    <li class="userInfo"><%= @user.company_name %></li>
  </ul>
  <ul class="businessContent">
    <li class="itemTitle">事業内容</li>
    <li class="userInfo"><%= @user.business_content %></li>
  </ul>
  <ul class="hpUrl">
    <li class="itemTitle">HPリンク</li>
    <li class="userInfo"><%#= @user.business_content %></li>
  </ul>
  <ul class="cliantAddress">
    <li class="itemTitle">所在地</li> 
    <li class="prefectures"><%= @user.prefecture.name %></li>
  </ul>
  <div class="Edit__cliant"><%= link_to "発注者プロフィールを編集する", "#", class: "btn fa fa-edit" %></div>
</div>