<div class="MyPage advertisement">
  <div class="container">
    <div class="regiAdvertisement">
      <h2 class="regiAdvertisement__title">広告登録</h2>
      <%= render "advertisements/form", client: @advertisement %>
    </div>
  </div>
</div>