.signUp {
  @include signUpLoginStyle();
}

.login {
  @include signUpLoginStyle();
}

.MyPage {
  padding-top: 100px;
  .ProfileBox {
    margin: 0 auto;
    width: 80%;
    &__title {
      padding-top: 10px;
      font-weight: bold;
    }
    &__subtitle {
      font-size: 20px;
      font-weight: bold;
    }
  }
  .commonProfile {
    width: 80%;
    margin: 0 auto;
    display: flex;
    .userIcon {
      &__title {

      }
      &__icon {
        width: 150px;
        height: 150px;
        margin: 0 auto;
      }
    }
    .profileFlex {
      display: flex;
    }
    &__title {
      margin-top: 5px;
      font-size: 15px;
      text-align: center;
    }
  }
  .experienceIndustry {
    .industry {
      display: flex;
      justify-content: center;
      &__item {
        margin: 0 10px;
      }
    }
  }
  .detail {
    .item {
      margin: 5px auto;
      padding: 10px auto;
    }
    .itemTitle {
      font-size: 20px;
      color: brown; 
    }
    .userInfo {
      a {

        display: inline-block;
        padding: 5px;
        margin: 5px 0px;
        border:1px solid rgb(194, 162, 23);
        border-radius: 5px;
        text-decoration: none;
        color: tomato;
      }
    }
    .subtitle {
      font-weight: bold;
      margin-top: 20px;
      font-size: 25px;
    }
  }

  .profileEdit {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
  .introduce {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 10px 15px;
    overflow: visible scroll;
    text-align: initial;
    p {
      margin-bottom: 0;
    }
  }
  .arrowBoxTop {
    position: relative;
    background: #ffffff;
    border: 2px solid #4dafe8;
    border-radius: 5px;
  }
  .arrowBoxTop:after, .arrowBoxTop:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
  .arrowBoxTop:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
  }
  .arrowBoxTop:before {
    border-color: rgba(232, 165, 77, 0);
    border-bottom-color: #e8a54d;
    border-width: 17px;
    margin-left: -17px;
  }
  .btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border: 1px solid #e8a54d;
    border-radius: 5px;
    background-color: lightblue;
  }
}

.edit {
  padding: 100px 0;
  &__title {
    padding-top: 20px;
  }
  .currentUserIcon {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }
  &__item {
    padding-right: 50px;
    margin-right: 20px;
  }
  &__contents {
    .iconTitle {
      margin: 10px 0;
    }
    margin: 30px auto;
    width: 70%;
    border: 1px solid rgba(247, 241, 227, 0.229);
    border-radius: 5px;
    .field {
      display: flex;
    }
    label {
      font-size: 22px;
      // padding: 5px 0;
      display: inline-block;
    }
    input {
      height: 30px;
      width: 37.5%;
    }
    .industryForm__wrapper__added {
      margin: 10px 0;
    }
    .industryForm__wrapperBox--select {
      height: 30px;
      width: 37.5%;
    }
    .actions {
      margin: 20px;
      input {
        background-color: rgb(255, 177, 66);
        padding: 10px 20px;
        border: 1px solid #bdc3c7;
        border-radius: 5px;
        line-height: 10px;
        cursor: pointer;
      }
    }
  }
  &__selectBox {
    margin-bottom: 10px;
  }
  .back {
    padding: 10px 20px;
    background-color: #bdc3c7;
    border: 1px solid gray;
    border-radius: 5px;
    text-decoration: none;
  }
  &__introduction {
    height: 200px;
    #user_profile {
      width: 80%;
      height: 80%;
    }
  }
}