.signUp {
  @include signUpLoginStyle();
}

.login {
  @include signUpLoginStyle();
}

.MyPage {
  padding-top: 100px;
  .ProfileBox {
    &__title {
      padding-top: 5px;
    }
    &__subtitle {
      font-size: 20px;
    }
  }
  .commonProfile {
    width: 80%;
    margin: 0 auto;
    display: flex;
    .userIcon {
      .icon {
        width: 150px;
        // height: 150px;
      }
    }
    .profileFlex {
      display: flex;
    }
    &__title {
      margin-top: 5px;
      font-size: 15px;
      text-align: center;
    }
  }
  .detail {
    &__cliant {
      .subtitle {
        margin-top: 10px;
        font-size: 20px;
      }
    }
  }

  .profileEdit {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
  .introduce {
    width: 75%;
    height: 120px;
    margin: 0 auto;
    padding: 10px 15px;
    overflow: scroll;
    p {
      margin-bottom: 0;
    }
  }
  .arrowBoxTop {
    position: relative;
    background: #ffffff;
    border: 2px solid #4dafe8;
    border-radius: 5px;
  }
  .arrowBoxTop:after, .arrowBoxTop:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
  .arrowBoxTop:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
  }
  .arrowBoxTop:before {
    border-color: rgba(232, 165, 77, 0);
    border-bottom-color: #e8a54d;
    border-width: 17px;
    margin-left: -17px;
  }
  .btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border: 1px solid #e8a54d;
    border-radius: 5px;
    background-color: lightblue;
  }
}