.signUp {
  padding: 60px 0;
  &__title {
    margin-bottom: 0;
    padding: 10px 0;
  }
  &__contents {
    margin: 30px auto;
    width: 50%;
    border: 1px solid rgba(247, 241, 227, 0.229);
    border-radius: 5px;
    label {
      font-size: 20px;
      padding: 5px 0;
      display: inline-block;
    }
    input {
      width: 90%;
      height: 30px;
    }
    .actions {
      margin-top: 20px;
    }
  }
}

.login {
  padding: 100px 0;
  &__title {
    margin-bottom: 0;
    padding: 10px 0;
  }
  &__contents {
    margin: 30px auto;
    width: 50%;
    border: 1px solid rgba(247, 241, 227, 0.229);
    border-radius: 5px;
    label {
      font-size: 20px;
      padding: 5px 0;
      display: inline-block;
    }
    input {
      width: 85%;
      height: 30px;
    }
    .actions {
      margin-top: 20px;
    }
  }
}

.MyPage {
  padding-top: 120px;
  .currentUserIcon {
    width: 150px;
    height: 150px;
  }

  .ageOrGender {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
  .introduce {
    width: 75%;
    height: 120px;
    margin: 0 auto;
    padding: 10px 15px;
    overflow: scroll;
    p {
      margin-bottom: 0;
    }
  }
  .arrowBoxTop {
    position: relative;
    background: #ffffff;
    border: 5px solid #e8a54d;
    border-radius: 5px;
  }
  .arrowBoxTop:after, .arrowBoxTop:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
  .arrowBoxTop:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
  }
  .arrowBoxTop:before {
    border-color: rgba(232, 165, 77, 0);
    border-bottom-color: #e8a54d;
    border-width: 17px;
    margin-left: -17px;
  }
  .btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border: 1px solid #e8a54d;
    border-radius: 5px;
    background-color: lightblue;
  }
}